<div>
    
      
      <div class="create-post-container">
        <form class="post-form" [formGroup]="createPostForm" (ngSubmit)="createPost()">
          <div class="form-group">
            
          
            <textarea  placeholder="Want to share anything..." [formControlName]="'postData'"  class="form-control" ></textarea>
             
            <span>
              <div style="margin-top: 5px" class="float-right">
                <button type="button" (click)="discardPost()" class="btnDiscard">Discard</button>
                <button  class="btnCreatePost">Post</button>
              </div>
            </span>
          </div>
        </form>
      </div>
    
  </div>